.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50px;
    font-size: 1em;
    background-color: rgb(167, 167, 236);
    text-align: center;
    color: white;
    top:-12px;
    right: 32px;
}